* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
body{
	background-image: url(../img/back-ground.png);
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}
/*导航栏*/

div.nav {
	width: 1200px;
	height: 130px;
}
.logo {
	width: 125px;
	height: 85px;
	margin: 30px 0px 0px 80px;
	background: url(../img/logo.png) no-repeat;
	cursor: pointer;
	float: left;
}
.navUl {
	margin: 56px 0px 0px 60px;
	float: left;
}

.navUl ul li {
	margin-left: 120px;
	padding-bottom: 4px;
	list-style-type: none;
	display: inline-block;
}
li.focus{
	border-bottom: 2px solid #686D6B;
}
.navUl ul li:hover {
	border-bottom: 2px solid #686D6B;
	transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
}
.navUl ul li a {
	font-size: 18px;
	color: #DCDADA;
}




/*成果具体*/
#lmh_contain{
	top:450px;
	margin-left: 300px;
	margin-top: 50px;
	position: relative;
}

.lmh_description p{
	margin-left: 50px;
	font-family: "微软雅黑";
	font-size: 15px;
}
.lmh_description p a{
	color: #ffffff;
	text-decoration: none;
}
#context{
	position: relative;
	margin-left: 525px;
	margin-top: -420px;
	color: #f8fafc;
	font-family: "微软雅黑";
}
#context h1{
	font-size: 30px;
}
#context p{
	margin-top: 35px;
	font-size: 18px;
	line-height: 30px;
}
#context button{
	width: 170px;
	height: 56px;
	border-radius: 10px;
	border: 2px solid #f8fafc;
	font-size: 30px;
	color: #f8fafc;
	font-family: "微软雅黑";
	background-color: transparent;
	display: block;
	cursor: pointer;
}
#context img{
	position: relative;
	top: 25px;
	left: -160px;
	width: 124px;
	height: 124px;
	display: block;
}
/*轮播*/
.bigimg{
	width: 432px;
	height: 362px;
	float: left;
}
#lunbo{
	overflow: hidden;
	width: 432px;
	height: 362px;
	position: absolute;
}
#lunboContain{
	/*width: 1296px;
	height: 362px;*/
	position: relative;
}
.left{
	width: 50px;
	height: 50px;
	top:150px;
	position: absolute;
	z-index: 1000;
	display: none;
	cursor: pointer;
}
.right{
	width: 50px;
	height: 50px;
	left: 382px;
	top:150px;
	position: absolute;
	z-index: 1000;
	display: none;
	cursor: pointer;
}