* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
body {
	background: url(../img/back-ground.png) no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

a {
	text-decoration: none;
}
/*导航*/
div.nav {
	width: 1200px;
	height: 128px;
}
.logo {
	width: 125px;
	height: 85px;
	margin: 30px 0px 0px 80px;
	background: url(../img/logo.png) no-repeat;
	cursor: pointer;
	float: left;
}
.navUl {
	margin: 56px 0px 0px 60px;
	float: left;
}

.navUl ul li {
	margin-left: 120px;
	padding-bottom: 4px;
	list-style-type: none;
	display: inline-block;
}
.navUl ul li:last-child {
	border-bottom: 2px solid #686D6B;
}
.navUl ul li:hover {
	border-bottom: 2px solid #686D6B;
	transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
}
.navUl ul li a {
	font-size: 18px;
	color: #DCDADA;
}
